<div class="container">
  <span class="text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus erat ac metus congue, ut tempor turpis accumsan. Quisque eu nibh a mi viverra efficitur. Sed at felis condimentum, varius nunc sit amet, sagittis risus. Vestibulum non eleifend nunc. Nunc semper elit vel odio faucibus, sit amet consectetur massa porttitor. Praesent ipsum erat, aliquet id vulputate vitae, sodales ac ipsum. Morbi convallis fermentum tristique. Donec a scelerisque urna, eget viverra ipsum. Curabitur ante arcu, sagittis a consectetur id, lobortis in ante.

Duis quam odio, eleifend ac tortor a, vulputate efficitur arcu. Nulla a eros eget neque lobortis fringilla vitae sed felis. Vestibulum nisl orci, pulvinar non augue quis, tincidunt volutpat nisi. Morbi et arcu tincidunt, laoreet lacus ut, commodo erat. In non pellentesque diam, sed bibendum nulla. Pellentesque at sem et nunc tincidunt pellentesque. Cras ullamcorper dui ante, in faucibus lectus iaculis ac. Aenean laoreet sem justo, sit amet tristique dui bibendum eu. Nam lacus dolor, luctus porta tellus ut, tincidunt tempus enim. Quisque quis leo massa. Donec auctor tincidunt est in pharetra. Mauris sit amet molestie risus. Cras ultricies, libero vitae tincidunt viverra, nibh lectus ultricies diam, sed eleifend augue ante in tortor.

Etiam id eros mollis, consequat turpis sit amet, maximus ante. Sed fermentum leo in tellus porttitor semper. Sed in nunc eget libero volutpat scelerisque at quis ligula. Nullam id tellus vel diam laoreet porta vitae quis lacus. Nam quis arcu sit amet sapien finibus ullamcorper. Aenean malesuada rhoncus dolor quis elementum. Donec facilisis purus eget augue bibendum facilisis eu eu nisi. Nullam tincidunt, sapien ut commodo imperdiet, eros erat feugiat ligula, aliquam fringilla nibh nulla at nisl. Nulla varius risus sapien, at mollis ante pharetra non.

Duis placerat metus at turpis tempus rutrum. Pellentesque commodo pulvinar rutrum. Aenean at quam magna. Fusce ac cursus enim. Nulla ut ipsum quis nisi bibendum blandit. Nam non tortor nec elit ultrices aliquam at ac erat. Aliquam quis consequat ex. Nunc hendrerit efficitur metus, non malesuada est semper eu. Donec volutpat risus quis elit finibus, ut dignissim mauris tempor. Sed auctor tortor a mauris efficitur pharetra. Mauris vitae faucibus tortor. Donec et sagittis dolor.

Pellentesque a elit non augue egestas ullamcorper. Morbi nec nisi sed libero accumsan fermentum. Etiam lorem neque, feugiat et elit non, scelerisque molestie dolor. In venenatis metus quam, vitae placerat ligula facilisis ut. Mauris tincidunt, est vitae dictum interdum, mi dolor egestas urna, quis commodo odio arcu quis ante. Cras laoreet auctor sapien vitae accumsan. Nunc non blandit erat, a scelerisque lorem. Nunc laoreet faucibus aliquet. Vestibulum sed ultrices est, ac dapibus nunc. Suspendisse ac sapien risus. Etiam quis tellus fringilla, dignissim sem accumsan, sodales velit. Ut quis turpis viverra libero consequat ultricies.
  </span>
<p-treeTable [value]="files1">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Type</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode">
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{rowData.name}}
      </td>
      <td>{{rowData.size}}</td>
      <td>{{rowData.type}}</td>
    </tr>
  </ng-template>
</p-treeTable>

</div>
